.option{
    width: 170px;
    height: 180px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.slotrow{
    width: 850px;
    overflow: hidden;
}

#divider{
    position: absolute;
    border: solid;
    border-color: black;
    border-width: 2px;
    height: 180px;
    z-index: 10;
    margin-bottom: 45px;
}


/*start the animation when the entire slot is visible*/
/*end it when the slots have moved about 25% through the entire slot*/
@keyframes spinLoop{
    0% {transform: translateX(0); }
    100% {transform: translateX(-2550px); }
}

/*
- run spinLoop keyframes
- Runs over 1s per cycle (happens every 1s)
- does it with linear timing (no acceleration & slowing down)
- infinite = repeat forever while the class is active

*/
.spinning{
    animation: spinLoop 1.5s linear;
}